*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  background-attachment: fixed;
  /* background-color: black; */
  color: white;
  background-image: radial-gradient(black, #221c1b)
}

h1{
  font-size: 44px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  
}

.links{
  display: flex;
}
.navbar a{
  margin: 20px;
}
.hero{
  
  display: flex;
  justify-content: center;
  ;

}
img{
  border-radius: 50%;
}
/* img{
  border-radius: 50%;
} */
a{
  color: white;
}
.shows{
  margin-top: 50px;
  text-align: center;
  
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: white;
  margin-left: 50px;
  margin-bottom: 10px;
}